@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
::-webkit-scrollbar{
  display: none;
}
body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/*start of menubar*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  background: white;
  color:#282829;
  display: flex;
  justify-content: space-between;
  /* transition: 0.6s; */
  z-index: 10000;

 
}
nav .mainMenu {
  position: relative;
  display: flex;
  list-style: none;
margin-top: -4vw;
margin-right: 3vw;
}
nav .mainMenu li a {
  position: relative;
  display: inline-block;
  padding: 35px;
  margin-top: 2.5vw;
  /* margin-top: 2.5vw; */

  text-decoration: none;
  text-transform: uppercase;
  color: #282829;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  /* transition: 0.6s; */
}
nav .mainMenu li a:hover {
  color: #fbad18;
  background: none;
}
nav .openMenu {
  font-size: 16px;
  margin: 20px;
  display: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
nav .mainMenu .closeMenu , .icons i {
  font-size: 5rem;
  display: none;
  cursor: pointer;
  color: #282829;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}


nav .logo img{
  margin-left: 5vw;
  margin-top: 0.5vw;
  cursor: pointer;
  width: 17vw;
}
.mobile-strip img{
  display: none;
}

@media (max-width: 768px) {

  #hea {
    height: 8vh;
  }
  .strip{
    display: none;
  }
  .mobile-strip img{
    width: 100vw;
    margin-top: -1vw;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
  }
  nav .logo img{
    margin-top: 3vw;
    margin-left: 15vw;
    width: 65vw;

  }
  #top .item img{
    padding-left:0px;
  }
  #top .owl-carousel{
    padding-left: 20px;
  }
}
@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }

  nav .mainMenu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin-top: 2vw;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    transition: top 1s ease;
    display: none;
    font-weight: bold;

}
nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 10vw;
    right: 5vw;

}
nav .openMenu {
    display: block;
    
}
nav .mainMenu li a:hover {
    background: none;
    color: white;
    font-size: 1.6rem;
    
}
.icons i {
    display: inline-block;
    padding: 12px;
    font-size: 30px;
}
}


/*end of nav bar*/

/*start of scroll*/
#return-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.fixed-btn{
  display: none;
}
.fixed-btn a{
  display: none;
}
@media only screen and (max-width: 600px) {

  .fixed-btn{
    display: block;
    /* position: absolute; */
      position: fixed;
    bottom: 0;
  
    background: #fbad18;
    width: 100vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    /* border-radius: 3px; */
    /* box-shadow: 4px 4px 4px #0a78aa; */
    cursor: pointer;
    z-index: 10000;
  }

  
  .fixed-btn a{
    display: block;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-top: 0vw;
    color:black;
  }
  
  .fixed-btn:active{
    box-shadow: 0  0;
  }

}


/*end of scroll*/
/*end of menubar*/
.back-img img{
  width: 100vw;
  margin-top: 4vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 

}

button{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 36px;
  margin: 10px 0;
  border: 0;
  outline: 0;
  color: white;
  background-color: #fbad18;
  text-transform: uppercase;
  border-radius: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
}
.sign-up{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: -7vw;
  margin-left: 60vw;
  font-size: 16px;
}
button a{

  list-style: none;
  color: black;
  text-decoration: none;
}

button .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}
 

.mobile-back img{
  display: none;
}
.down-now{
  display: none;
}
@media only screen and (max-width: 600px) {
  .back-img{
    display: none;
  }
  .mobile-img img{
    padding-top: 15vw;
    display: block;
    width: 100vw;
  }
  .mobile-back .down-now{
    display: block;
    margin-top: -16vw;
    /* text-align: center; */
    margin-left: 30vw;
    position: absolute;
    background-color: #fbad18;
    color: #282829;
    width: 38vw;
    height: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;

  }
.down-now{
  line-height: 5vw;
}

  .download-app{
    display: none;
  }
}


/*start of marquee*/
.strip img{
  margin-top: 6vw;
  min-width: 100vw;
  /* margin-top: 0px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  /* height: 4vw; */

}
  /*end of marquee*/  




  /*start of steps*/
.play-heading h1{
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-align: center;
margin-top: 2vw;
font-weight: 700;
}
.play-heading span{
  color: #fbad18;
 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.play-container {
  width: 75%;

  margin: 50px auto;
}


.play-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
 
}

.play-card {
  width: 21vw;
  height: 20vh;
  background:linear-gradient(to right, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%);
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
 border-radius: 1vw;
}

.play-card-header {
  font-family: 'Roboto', sans-serif;
  margin-top: -1.5vw;
  margin-left: 1vw;
  text-align: center;
 
  width: 40px;height: 40px;
  border-radius: 5vw;
  background: linear-gradient(to right, rgba(23,199,73,1) 0%, rgba(16,158,56,1) 100%);
  color: #fff;
}
.play-card-header span{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  
}
.how1 {
  margin-top: -8vw;
  position: absolute;
  width: 12vw;
  margin-left: 5vw;
}

.play-card-body h5{
  margin-top: 5vw;
  margin-left: 2vw;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
 
}

.play-card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.play-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .play-card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .play-card-container {
    width: 100%;
  }
  

  .play-card {
    width: 85vw;
    height: 15vh;
    border-radius: 5vw;
  }
  .play-card-body img{
    
    width: 50vw;
    margin-left: 25vw;
    margin-top: -25vw;
  }
}

  /*end of steps*/
  /*start of review*/
  #review{
    background-color:whitesmoke;
    margin-top: -4vw;
    padding-bottom: 3vw;
  }
 .review-heading h1{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
   padding-top: 2vw;
   font-weight: 700;
  }
  .review-heading span{
    color: #fbad18;
   
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  
 }
 /* .img-1{
   margin-left: 6vw;
 } */
 .review-column {
	float: left;
	width: 25vw;
	padding: 2vw;
}

.review-row::after {
	content: "";
	display: table;
	clear: both;
}
.carousel{
  /* height: 27vw; */
  margin-left: 0vw;
  
}
.carousel-cell {
  width: 33.33vw;
  margin-left: -1.vw;
  margin-right: -2vw;
  /* padding-left: 25vw; */
  }
.w3-image{
padding-left:4vw;
}

.flickity-prev-next-button.previous {
left: 0vw;
}
.flickity-prev-next-button.next{
right: 5px;
}
/* cell number */
.carousel-cell:before {
  display: block;

}

.flickity-button.flickity-prev-next-button.previous{
  background-color:transparent;
  color: black;
}
.flickity-button.flickity-prev-next-button.next{
  background-color:transparent;
  color: black;
}
@media screen and (max-width: 620px) {
  #review{
    margin-top: -20vw;
    height: 54vh;
    width: 100vw;
  }
  .flickity-page-dots{
top: 85vw;
  }
  .carousel-cell{
  width: 90vw;
  padding-right: 7vw;
  padding-left: 5vw;
  
  text-align: center;
}
.flickity-button.flickity-prev-next-button.previous{
 padding-left: 5vw;
 margin-top: -3vw;
 /* color: green; */
}
.flickity-button.flickity-prev-next-button.next{
  padding-right: 2vw;
  margin-top: -3vw;
}
}


  /*end of review*/
  

  /*start of faq*/
  #faq{
    /* background-color: whitesmoke; */
  }
  #faq h3 {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #282829;
    font-family: 'Roboto', sans-serif;
}

.accordions {
    width: 50%;
    margin: 10px auto;
}

.accordions h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.accordion-item {
    background-color: #282829;
    margin-bottom: 20px;
    border: 1px solid #282829;
    border-radius: 5px;
    color: #ffffff;
}

.accordion-item .accordion-title {
    cursor: pointer;
    padding: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.4s ease-in-out;
}

.accordion-item .accordion-title.active-title {
    background-color: #282829;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.accordion-item .accordion-title h5{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.accordion-item .accordion-title i.fa-chevron-down {
    transform: rotate(0);
    transition: 0.4s;
}

.accordion-item .accordion-title i.fa-chevron-down.chevron-top {
    transform: rotate(-180deg);
    color: #fbad18;
}

.accordion-item .accordion-content {
    display: none;
    line-height: 1.7;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    color: #282829;
}

.accordion-item .accordion-content.active {
    display: block;
}

.accordion-item .accordion-content p {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 620px) {

  .play-heading{
    padding-top: 4vw;
  }
  .accordion-item{
    width: 80vw;
    margin-left: -15vw;
  }
}
  /*end of faq*/


  /*start of youtube*/
  .youtube{
    background-color: whitesmoke;
    text-align: center;
    margin-top: 2vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
  }
  @media screen and (max-width: 620px) {
   
    
    .youtube iframe{
      width: 90vw;
      height: 30vh;
      padding-left: 2vw;
      padding-right: 2vw;
      background-color: whitesmoke;
      padding-bottom: 2vw;
    }
  }
  /*end of youtube*/



  /*start of footer*/
#footer{
  background-color: #282829;
}

.logo-image img{
  width: 20vw;
  margin-left: 5vw;
  margin-top: 5vw;
}
.blitz-info p{
  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 75vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 2vw;
  font-size: 14px;
  /* font-weight: 600; */
}
.media{
  margin-left: 5vw;
}

.media i{
  margin-top: 2vw;


  padding-right: 1vw;
  color: white;
}
.data1{
  margin-left: 40vw;
  margin-top: -17vw;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.data1 h3{
  
  margin-bottom: 2vw;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.data1 ol{
  list-style: none;
  
  font-family: 'Roboto', sans-serif;
}
.data1 li{
  padding-bottom: 2vw;
  font-size: 14px;
}
.data2{
  margin-left: 60vw;
  margin-top: -15vw;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.data2 h3{
  margin-bottom: 2vw;
  
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.data2 ol{
  list-style: none;
 
  font-family: 'Roboto', sans-serif;
}
.data2 li{
  padding-bottom: 2vw;
  font-size: 14px;
}
.data3{
  margin-left: 80vw;
margin-top: -18.5vw;

color: white;
font-family: 'Roboto', sans-serif;
}
.data3 h3{

  font-size: 16px;
  margin-bottom: 2vw;
}
.data3 ol{
  list-style: none;
 
  font-family: 'Roboto', sans-serif;
}
.data3 li{
  padding-bottom: 2vw;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.horizontal-line {
  width: 80vw;
  display: block;
  height: 1px;
  background-color: white;
  margin: 60px auto 0;
}
.horizontal-line1 {
  width: 80vw;
  display: block;
  height: 1px;
  background-color: white;
  margin: 40px auto 0;
}
.payment-info h5{
  margin-top: 4vw;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.payment-info .payment{
  margin-top: 1vw;
  text-align: center;
  /* padding-left: 2vw; */
  /* margin-left: 42vw; */
}
.payment-info .payment img{
  margin-right: 1vw;
}
.terms h5{
  font-size: 18px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: 'Roboto', sans-serif;
 
}

.cc p{
  background-color: white;
  color: #282829;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* padding-top: -10vw; */
  line-height: 3vw;
  font-size: 14px;
  
  
}
  /*end of footer*/
  @media only screen and (max-width: 600px) {
    #footer{
      margin-top: 3vw;
    }
    .logo-image{
    padding-left: 20vw;
    }
    .logo-image img{
      width: 50vw;
      /* margin-left: 23vw; */

    }
    .blitz-info p{
      width: 90vw;
      padding-top: 2vw;
      padding-left: 2vw;
      padding-right: 2vw;
      line-height: 3vh;
      text-align:left;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      padding-bottom: 4vw;
    }
   
   .media{
     padding-left: 20vw;
     font-size: 12px;
     padding-right: 20vw;
   }
  .media i{
    padding-right: 2vw;
  }
    .data1{
      font-size: 22px;
      margin-top: 10vw;
      margin-left: 10vw;
    }
    .data2 {
      font-size: 22px;
     padding-top: 18vw;
     margin-left: 10vw;
    
    }
    .data3{
      font-size: 22px;
      padding-top: 19vw;
      margin-left:10vw ;
    }
    .payment {
      /* padding-left:30vw; */
      padding-top: 2vw;
          
    }
   
    .terms{
      margin-top: 3vw;
      font-size: 18px;
    }
    
    .cc{
      /* margin-top: 5vw; */
      font-size: 18px;
    }
    .cc p{
      line-height: 5vw;
      /* margin-bottom: 10vw; */
    }
  
    
  }